<% if @model.errors.any? %>
   <div id = "errorExplanation" class="alert alert-error" >
   <h2> <%= pluralize(@model.errors.count, "error") %> Prevented submission of form</h2>
   <ul>
   <% @model.errors.full_messages.each do |msg| %>
   <li> <%= msg %> </li>
   <% end %>
   </ul>
</div>
<% end %>