<div class="row-fluid">
<div class="sbh effect8">
<div class="well effect7">
<div class="sbh"><h2>System Dashboard</h2></div>
<div class="row-fluid">
<div class="span4 breadcrumb">
<div class="sbh effec7"><i class="icon-user"></i> User Manager</div>
<a href="<%= signup_path %>" class="btn"><i class="icon-plus-sign"></i> Add User</a>
<a href="<%= users_path %>" class="btn"><i class="icon-list-alt"></i> Manage</a>
</div>
<!--
<div class="span4 breadcrumb">
<div class="sbh effect7"><i class="icon-globe"></i> Partners Manager </div>
<a href="#" class="btn"><i class="icon-plus-sign"></i> Add Partners</a>
<a href="#" class="btn"><i class="icon-list-alt"></i> Manage</a>
</div>
-->
<div class="span4 breadcrumb">
<div class="sbh effect7"><i class="icon-book"></i> Newsletters and Publications Manager </div>  
<a href="<%= new_user_newspub_path current_user %>" class="btn"><i class="icon-plus-sign"></i> Add</a>
<a href="<%= newspubs_path %>" class="btn"><i class="icon-list-alt"></i> Manage</a>
</div>


<div class="span4 breadcrumb">
<div class="sbh effect7"><i class="icon-facetime-video"></i> Downloads Manager </div>
<a href="<%= new_user_download_path current_user %>" class="btn"><i class="icon-plus-sign"></i> Add</a>
<a href="<%= downloads_path %>" class="btn"><i class="icon-list-alt"></i> Manage</a>
</div>
</div>
<div class="row-fluid">
<div class="span4 breadcrumb">
<div class="sbh effect7"><i class="icon-calendar"></i> Events Manager </div>
<a href="<%= new_user_event_path current_user %>" class="btn"><i class="icon-plus-sign"></i> Add</a>
<a href="<%= events_path %>" class="btn"><i class="icon-list-alt"></i> Manage</a>
</div>
<div class="span4 breadcrumb">
<div class="sbh effect7"><i class="icon-headphones"></i> News Manager </div>
<a href="<%= new_user_news_path current_user%>" class="btn"><i class="icon-plus-sign"></i> Add News</a>
<a href="<%= news_index_path %>" class="btn"><i class="icon-list-alt"></i> Manage</a>
</div>
 
 
<div class="span4 breadcrumb">
<div class="sbh effect7"><i class="icon-picture"></i> Photo Gallery Manager </div>
<a href="<%= new_user_photo_path current_user%>" class="btn"><i class="icon-plus-sign"></i> Add Photo's</a>
<a href="<%= photos_path %>" class="btn"><i class="icon-list-alt"></i> Manage</a>
</div>
</div>
</div>
<div class="row-fluid">
	<div class="span4 breadcrumb">
<div class="sbh effect7"><i class="icon-th-list"></i> Videos Manager </div>
<a href="<%= new_user_video_path current_user %>" class="btn"><i class="icon-plus-sign"></i> Add Video</a>
<a href="<%= videos_path %>" class="btn"><i class="icon-list-alt"></i> Manage</a>
</div>
<div class="span4 breadcrumb">
<div class="sbh effect7"><i class="icon-th-list"></i> FAQ Manager </div>
<a href="<%= new_user_faq_path current_user %>" class="btn"><i class="icon-plus-sign"></i> Add FAQ</a>
<a href="<%= faqs_path %>" class="btn"><i class="icon-list-alt"></i> Manage</a>
</div>
<div class="span4 breadcrumb">
<div class="sbh effect7"><i class="icon-comment"></i> Feedback Manager </div>
<a href="#" class="btn"><i class="icon-list-alt"></i> Manage</a>
</div>
</div>
</div>
