<div class="row-fluid">
<div class="sbh effect8">
<div class="well">
<div class="row-fluid">
= form_for(:session ,{:url => sessions_path ,:html=>{:class=>"well span7"} })  do |f|
  %fieldset
    <legend> User Login</legend>
    %label{:for=>"user_username_or_user_email"} Username or Email
    = f.text_field :username, :class=>"span8"
    = label_tag "password"
    = f.password_field :password ,:class=>"span8"
    %hr
    <div class="span7"><button class="btn btn-primary"><i class="icon-white icon-user"></i> Login</button> 
    <a class="pull-right" data-toggle="modal" href="#acticity">Forgot Password?</a>
</div> 
</div>
</div>