<div class="nosrednahabo">&nbsp;</div>
<%= session[:new_model] = @new_model %>
<%= render :partial => "shared/errors/error_messages" ,:lnew_model=>@new_model %>
<div class="row-fluid">
<div class="sbh effect8">
<div class="breadcrumb"><a href="<%= myhome_path %>">System Dashboard</a>
<i class="icon-chevron-left"></i> <a href="<%= user_faqs_path current_user %>">View My FAQs</a> <i class="icon-chevron-left"></i> </div>
<div class="well effect7">
<div class="sbh"><h2>System Dashboard &raquo; FAQ  Add</h2></div>
<div class="sbh bgff">
<div class="row-fluid">

<%= form_for @faq,:html => {} do |form| %>
  <%= form.label :question %>
  <%= form.text_field :question %>
   
   <%= form.label :answer %>
  <!-- #form.date_select :start_date,:start_year=>2012,:end_year=>2015 ,:use_short_month=>true,:order=>[:day,:month,:year]%>
  -->
  <%=  form.text_area :answer,:class=>'tinymce' %>
 
  <br/>
  <button class="btn btn-primary"><i class="icon-white icon-plus-sign"></i> Save</button>
<% end %>


    
</div>  
</div>
</div>
</div>  