<div class="row-fluid">
    <div class="span2 impd">
        <div class="well effect7" style="min-height:260px; font-size:8pt; font-weight:bold; color:#036; text-align:center;">
        <img src="images/June2011-cover.jpg"/>
        <img src="images/cover-NHDR_SUMMARY_2008-2009.jpg" />
        <img src="images/logo.jpg" />
<img src="images/undaf2.jpg" /><img src="images/small_cpap_09-12.jpg" /><img src="images/small_cpd_7thCP.gif" />
  <img src="images/2007_anual_report.gif" /></div>
        </div>
   	  <div class="span10">
        <div class="sbh effect7 fbn" style="margin-bottom:15px;">
        	<div class="sbhb"><h2>Frequently Asked Quesitons</h2></div>
                      <div class="accordion" id="accordion2">
            <% @faqs.each do |faq| %>
            <div class="accordion-group breadcrumb">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  <h3>Question &raquo; <%= faq.question %></h3>
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner fbn sbh">
                	<h3>Answer </h3><hr style="margin:5px;"/>
      <%= faq.answer.html_safe %>
                </div>
              </div>
            </div>
             
            
            <%end %>
                       
          </div>
          
        </div>