<div class="nosrednahabo">&nbsp;</div>
<%= session[:new_model] = @new_model %>
<%= render :partial => "shared/errors/error_messages" ,:lnew_model=>@new_model %>
<div class="row-fluid">
<div class="sbh effect8">
<div class="breadcrumb"><a href="<%= myhome_path %>">System Dashboard</a>
<i class="icon-chevron-left"></i> <a href="<%= user_newspubs_path current_user %>">View My Uploads</a> <i class="icon-chevron-left"></i> </div>
<div class="well effect7">
<div class="sbh"><h2>System Dashboard &raquo; Newsletters/Publications  Add</h2></div>
<div class="sbh bgff">
<div class="row-fluid">

<%= form_for current_user.newspubs.build(:user=>current_user), :html => { :multipart => true } do |form| %>
  <%= form.label "Friendly Name" %>
  <%= form.text_field :name %>
  <%= form.label :file %>
  <%= form.file_field :file %>
   <%= form.label "Thumbnail_File" %>
  <%= form.file_field :thumbfile %>
  <%= form.label "description" %>
  <%= form.text_area :description,:size=>"10x5" %>
  <%= form.label "select_category" %>
  <%= form.select(:category,{""=>nil,"Newsletter"=>"newsletter","Publications"=>"publications"}) %>
  <br/>
  <button class="btn btn-primary"><i class="icon-white icon-plus-sign"></i> Save</button>
<% end %>


    
</div>  
</div>
</div>
</div>  