 <div class="row-fluid">
    <div class="span2 impd">
        <div class="well effect7" style="min-height:260px; font-size:8pt; font-weight:bold; color:#036; text-align:center;">
       <% if @newspubs.size > 0 ; @newspubs.each do |pub|%>
       <% if pub.category =='publications' && !pub.thumbfile.nil? %>
       <%=  image_tag pub.thumbfile.url %>
       
        <%end ;end; else %>
        <%= image_tag "June2011-cover.jpg"  %>
        <%= image_tag "cover-NHDR_SUMMARY_2008-2009.jpg"  %>
       <%= image_tag "logo.jpg"  %>
        <%end;%>
   </div>
        </div>
   	  <div class="span10">
        <div class="sbh effect7 fbn" style="margin-bottom:15px;">
        	<div class="sbhb"><h2> <% if @title.nil? %> Newsletters | Publications <%else %> <%= @title%> <% end %></h2></div>
          <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#newsletters" data-toggle="tab"><i class="icon-envelope"></i> Newsletters</a></li>
            <li><a href="#publications" data-toggle="tab"><i class="icon-book"></i> Publications</a></li>            
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="newsletters">
                  <ul class="thumbnails">
                  	<% @newspubs.each do |np|%>
                  	<% if np.category=='newsletter' && !np.thumbfile.nil? %>
                    <li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                  <%= image_tag np.thumbfile.url(:medium)%>
                    <h5 class="m7"><%= np.name %></h5>
                    <p>
                    	<%= np.description %>
                    </p>
                    <a  href="<%= np.file.url %>" target="_blank" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                    </div>
                    </li>
 					 <% end end %>
                    
                 </ul>
                <%= render "shared/paginate"%>
            </div>
            <div class="tab-pane fade" id="publications">
            	<ul class="thumbnails">
            		  <% @newspubs.each do |np|%>
            		  <% if np.category=='publications' && !np.thumbfile.nil?%>
                     	
                    
                    
                    
               
                  	
                    <li class="span2">
                    <div class="thumbnail sbh fbn lh4">
                  <%= image_tag np.thumbfile.url(:medium)%>
                    <h5 class="m7"><%= np.name %></h5>
                    <p>
                    	<%= np.description %>
                    </p>
                    <a  href="<%= np.file.url %>" target="_blank" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                    </div>
                    </li>
 					 <% end end %>
                    </li>
 					 
                 </ul>
                  
                <%= render "shared/paginate" %>
            </div>
          </div>
        </div>
        <%= render "shared/partners_smedia" %>
