 <div class="span12">
        <div class="sbh effect7 fbn" style="margin-bottom:15px;">
        	<div class="sbhb"><h2>Downloads</h2></div>
          		<% @downloads.each_slice(4) do |d| %>
          		
          		<ul class="thumbnails">
                <% if !d[0].nil? %> 
                   <li class="span3">
                    <div class="thumbnail sbh fbn lh4" align="center">
                    <h5 class="m7"><%= d[0].title unless d[0].nil? %></h5>
                    <%= link_to image_tag("File-Downloads-icon.png",:size=>"50x50"), d[0].file.url ,:target=>'_blank' unless d[0].nil? %>
                    
                      </div>
                    </li>
                    <% end %>
 					  <% if !d[1].nil? %> 
                   <li class="span3">
                    <div class="thumbnail sbh fbn lh4" align="center">
                    <h5 class="m7"><%= d[1].title unless d[1].nil? %></h5>
                    <%= link_to image_tag("File-Downloads-icon.png",:size=>"50x50"), d[1].file.url , :target=>'_blank'  unless d[1].nil? %>
                    
                      </div>
                    </li>
                    <% end %>
                    
                    	  <% if !d[2].nil? %> 
                   <li class="span3">
                    <div class="thumbnail sbh fbn lh4" align="center">
                    <h5 class="m7"><%= d[2].title unless d[2].nil? %></h5>
                    <%= link_to image_tag("File-Downloads-icon.png",:size=>"50x50"), d[2].file.url , :target=>'_blank' unless d[2].nil? %>
                    
                      </div>
                    </li>
                    <% end %>
                    
                    	  <% if !d[3].nil? %> 
                   <li class="span3">
                    <div class="thumbnail sbh fbn lh4" align="center">
                    <h5 class="m7"><%= d[3].title unless d[3].nil? %></h5>
                    <%= link_to image_tag("File-Downloads-icon.png",:size=>"50x50"), d[3].file.url , :target=>'_blank' unless d[3].nil? %>
                    
                      </div>
                    </li>
                    <% end %>
                 </ul>
                  <% end %>      
          <hr>
        </div>