<div class="nosrednahabo">&nbsp;</div>
= render :partial => "shared/errors/error_messages" ,:local=>@model
<div class="row-fluid">
<div class="sbh effect8">
<div class="well effect7">
<div class="sbh"><h2>System Dashboard &raquo; User Password</h2></div>
<div class="sbh bgff">
<div class="row-fluid">
= form_for(@user,:url =>{:controller=>:users,:action=>:change_password},:html=>{:class=>"well span7"}) do |f|
  %fieldset
    <legend>Change Password</legend>
    = f.label :password
    = f.text_field :password,:class=>"span8"
    = f.label :password_confirmation
    = f.password_field :password_confirmation,:class=>"span8"
    %br
    <button class="btn btn-primary"><i class="icon-white icon-plus-sign"></i> Save</button>
</div>  
</div>
</div>
</div>  