<div class="nosrednahabo">&nbsp;</div>
= render :partial => "shared/errors/error_messages" ,:local=>@model
<div class="row-fluid">
<div class="sbh effect8">
<div class="breadcrumb"><a href="
= myhome_path
">
System Dashboard</a>
<i class="icon-chevron-left"></i> <a href="
= users_path 
">View Users</a> <i class="icon-chevron-left"></i> </div>
<div class="well effect7">
<div class="sbh"><h2>System Dashboard &raquo; User Edit</h2></div>
<div class="sbh bgff">
<div class="row-fluid">
= form_for(@user,:html=>{:class=>"well span7"}) do |f|
  %fieldset
    <legend>Edit User Information</legend>
    = f.label :firstname
    = f.text_field :firstname
    = f.label :lastname
    = f.text_field :lastname
    = f.label :email
    = f.text_field :email
    = f.label :username
    = f.text_field :username
    = f.label :group
    = f.select(:group,{"Administrators"=>"admin","Managers"=>"managers","Users"=>"users"})
    %br
    <button class="btn btn-primary"><i class="icon-white icon-plus-sign"></i> Save</button>
</div>  
</div>
</div>
</div>  