<div class="nosrednahabo">&nbsp;</div>
= render :partial => "shared/errors/error_messages" ,:local=>@model
<div class="row-fluid">
<div class="sbh effect8">

<div class="well effect7">
 
<div class="sbh bgff">
<div class="row-fluid">
= form_for(@user,:html=>{:class=>"well span7"}) do |f|
  %fieldset
    <legend>Edit Profile</legend>
    = f.hidden_field :redirect_to,:value=>"users/change_password"
    = f.label :firstname
    = f.text_field :firstname
    = f.label :lastname
    = f.text_field :lastname
    = f.label :email
    = f.text_field :email
    = f.label :username
    = f.text_field :username
    = f.label :group
    = f.text_field :group ,:readonly=>"readonly"
    %br
    <button class="btn btn-primary"><i class="icon-white icon-plus-sign"></i> Save</button>
</div>  
</div>
</div>
</div>  