<div class="sbh effect8">
        	<div class="breadcrumb"><a href="<%= myhome_path %>">System Dashboard</a> <i class="icon-chevron-left"></i> </div>
          <div class="well effect7">
           	<div class="sbh"><h2>System Dashboard &raquo; View User</h2></div>
			<div class="sbh bgff">

		<table class="table table-bordered table-striped">
        <thead>
        	<caption>Total Users &raquo; <%= @users.count.to_s %></caption>
           <thead class= t><tr>
           
            <th> Name</th>
            <th> Group</th>
            <th>Action</th>
          </tr></thead>
        </thead>
        <tbody>
        	<% @users.each do |user|%>
          <tr>
            
            <td><%= user.firstname.to_s  + " " + user.lastname.to_s %></td>
            <td><%= user.group.to_s.capitalize %></td>
            <td>
            	<a class="btn"  data-toggle="modal" href="#<%= user.id.to_s%>"><i class="icon-list-alt"></i></a>
                <a class="btn" href="<%= edit_user_path(user) %>"><i class="icon-pencil"></i></a>
               <% if current_user.id != user.id %>
               <%= link_to "<i class=\"icon-trash\"></i>".html_safe, user, :method => :delete,:class=>"btn" ,"data-remote"=>true,:confirm=>"Delete #{user.firstname} #{user.lastname}?",:title => "Delete #{user.firstname}"%>
               <% end %>  
            </td>
          </tr>
           
           <% end %>
          
        </tbody>
      </table>
       <%= render "shared/paginate"%>
            </div>
            
          </div>
         
        </div>
        <% @users.each do |user| %>
 	     <div id="<%= user.id.to_s %>" class="modal hide fade">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">&times;</button>
              <h3><%= user.firstname %></h3>
            </div>
            <div class="modal-body">
				<div class="well effect8">                	
                    <ul class="tabs-stacked">
                    	<li class="lino">Firstname &raquo; <%= user.firstname %> </li>
                        <li class="lino">Lastname &raquo;<%= user.lastname %> &raquo; </li>
                        <li class="lino">Group &raquo;<%= user.group %> </li>                       
                        <li class="lino">Email &raquo; <%= user.email %> &raquo; </li>
                         <li class="lino">Created &raquo; <%= distance_of_time_in_words_to_now(user.created_at,false).to_s %>  ago. </li>
                    </ul>
            	</div>
            </div>

            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal" >Close</a>
            </div>
          </div>
          <% end %>
          <div id="udel" class="modal hide fade">
            <div class="modal-header">
              <h3>Delete User?</h3>
            </div>
            <div class="modal-body">
				<div class="alert alert-danger">                	
                    Are you sure you want to delete user <em>'Name in full'</em>?
                    <a href="" class="btn-danger btn"><i class="icon-white icon-ok"></i> Yes</a>
            	</div>
            </div>

            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal"><i class="icon-remove"></i> Cancel</a>
            </div>
 
   