<div class="nosrednahabo">&nbsp;</div>
- session[:new_model] = @new_model
= render :partial => "shared/errors/error_messages" ,:lnew_model=>@new_model
<div class="row-fluid">
<div class="sbh effect8">
<div class="breadcrumb"><a href="./">System Dashboard</a>
<i class="icon-chevron-left"></i> <a href="user-view.php">View Users</a> <i class="icon-chevron-left"></i> </div>
<div class="well effect7">
<div class="sbh"><h2>System Dashboard &raquo; User Add</h2></div>
<div class="sbh bgff">
<div class="row-fluid">
= form_for(@user,:html=>{:class=>"well span7"}) do |f|
  %fieldset
    <legend>Add User Information</legend>
    = f.label :firstname
    = f.text_field :firstname
    = f.label :lastname
    = f.text_field :lastname
    = f.label :email
    = f.text_field :email
    = f.label :username
    = f.text_field :username
    = f.label :password
    = f.text_field :password
    = f.label :password_confirmation
    = f.text_field :password_confirmation
    = f.label :group
    = f.select(:group,{"Administrators"=>"admin","Managers"=>"managers","Users"=>"users"})
    %br
    <button class="btn btn-primary"><i class="icon-white icon-plus-sign"></i> Save</button>
</div>  
</div>
</div>
</div>  