<div class="nosrednahabo">&nbsp;</div>
- session[:new_model] = @new_model
= render :partial => "shared/errors/error_messages" ,:lnew_model=>@new_model
<div class="row-fluid">
<div class="sbh effect8">
<div class="breadcrumb"><a href="
= myhome_path
">System Dashboard</a>
<i class="icon-chevron-left"></i> <a href="
= user_videos_path 
">View My Videos</a> <i class="icon-chevron-left"></i> </div>
<div class="well effect7">
<div class="sbh"><h2>System Dashboard &raquo; Video Edit </h2></div>
<div class="sbh bgff">
<div class="row-fluid">
= form_for(@video,:html=>{:class=>"well span7",:method=>:put}) do |f|
  %fieldset
    <legend>Add Video Information</legend>
    = f.hidden_field :user_id,:value=>current_user.id
    = f.label :title
    = f.text_field :title
    = f.label :description
    = f.text_area :description ,:size=>"10x4"
    = f.label ("Paste_youtube_or_vimeo_video_link")
    = f.url_field :url 
    = f.label :location
    = f.select(:location,{""=>nil,"Youtube"=>"Youtube","Vimeo"=>"Vimeo"})
    %br
    <button class="btn btn-primary"><i class="icon-white icon-plus-sign"></i> Save</button>
</div>  
</div>
</div>
</div>  