<div class="sbh effect8">
        	<div class="breadcrumb"><a href="<%= myhome_path %>">System Dashboard</a> <i class="icon-chevron-left"></i> 
        		  <a href="<%= videos_path %>">View All Videos</a>  </div>
          <div class="well effect7">
           	<div class="sbh"><h2>System Dashboard &raquo; <%= @title %></h2></div>
			<div class="sbh bgff">

		<table class="table table-bordered table-striped">
        <thead>
        	<caption>Total Videos &raquo; <%= @videos.count.to_s %></caption>
           <thead class= t><tr>
           
            <th> Ttile</th>
            <th> Site Url</th>
            <th> Location</th>
            <th>Action</th>
          </tr></thead>
        </thead>
        <tbody>
        	<% @videos.each do |video|%>
          <tr>
            
            <td><%= video.title.to_s %></td>
                       <td><%= video.url.to_s %></td>
                      <td><%= video.location.to_s %></td>
            <td>
            	<a class="btn"  data-toggle="modal" href="#<%= video.id.to_s%>"><i class="icon-list-alt"></i></a>
                <a class="btn" href="<%= edit_user_video_path(video.user_id,video.id) %>"><i class="icon-pencil"></i></a>
             
               <%= link_to "<i class=\"icon-trash\"></i>".html_safe, video, :method => :delete,:class=>"btn" ,"date-remote"=>true,:confirm=>"Delete #{video.title} ?",:title => "Delete #{video.title}"%>
                
            </td>
          </tr>
           
           <% end %>
          
        </tbody>
      </table>
       <%= render "shared/paginate"%>
            </div>
            
          </div>
         
        </div>
        <% @videos.each do |user| %>
 	     <div id="<%= user.id.to_s %>" class="modal hide fade">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">&times;</button>
              <h3><%= user.title %></h3>
            </div>
            <div class="modal-body">
				<div class="well effect8">                	
                    <ul class="tabs-stacked">
                    	<li class="lino">Video &raquo; <%= user.title %> </li>
                                 <li class="lino">Created By &raquo; <%= user.user.username.capitalize %>   </li>
                    <li class="lino">Created &raquo; <%= distance_of_time_in_words_to_now(user.created_at,false).to_s %>  ago. </li>
             
                    </ul>
            	</div>
            </div>

            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal" >Close</a>
            </div>
          </div>
          <% end %>
          <div id="udel" class="modal hide fade">
            <div class="modal-header">
              <h3>Delete User?</h3>
            </div>
            <div class="modal-body">
				<div class="alert alert-danger">                	
                    Are you sure you want to delete user <em>'Name in full'</em>?
                    <a href="" class="btn-danger btn"><i class="icon-white icon-ok"></i> Yes</a>
            	</div>
            </div>

            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal"><i class="icon-remove"></i> Cancel</a>
            </div>
 
   