<div class="sbh effect8">
        	    <div class="well effect7">
           	<div class="sbh"><h2> Your Profile</h2></div>
			<div class="sbh bgff">

		 <% user =@user %>
 	      
            
				<div class="well effect8">                	
                    <ul class="tabs-stacked">
                    	<li class="lino">Firstname &raquo; <%= user.firstname %> </li>
                        <li class="lino">Lastname &raquo;<%= user.lastname %> &raquo; </li>
                        <li class="lino">Group &raquo;<%= user.group %> </li>                       
                        <li class="lino">Email &raquo; <%= user.email %> &raquo; </li>
                         <li class="lino">Created &raquo; <%= distance_of_time_in_words_to_now(user.created_at,false).to_s %>  ago. </li>
                    </ul>
            	</div>
            </div>

        
            
          </div>
         
     
        
 
             

      
 
   