   
          <div class="sbh effect7 fbn" style="margin:10px 0px; line-height:1.7em;">
			<div class="sbhb"><h2>Videos</h2></div>
            	<div class="sbh fbn">
         			<div class="row-fluid">
                		<% unless @videos.blank? %> 
                		<%  @videos.each_slice(2) do |rv| %>  
<ul class="thumbnails">  
                	              
                      <li class="span3">
                      	<% if !rv[0].blank?   %>
                      	<% if root_url.to_s != "http://localhost:3000/" && rv[0].location =='Youtube' %>
                      	<div class="sbh fbn" style="font-size:8pt;"><%= rv[0].title %></div>
                  		<iframe width="331" height="216" style="padding:2px;" src="<%= rv[0].url%>"  frameborder="0" allowfullscreen> 
                  		 
                  		</iframe>
                  		<% end %>
                  		</li>
                  		<li class="span3">
                  	    <% if !rv[1].blank?   %>
                      	<% if root_url.to_s != "http://localhost:3000/" && rv[1].location =='Youtube' %>
                      	<div class="sbh fbn" style="font-size:8pt;"><%= rv[1].title %></div>
                  		<iframe width="331" height="216" style="padding:2px;" src="<%= rv[1].url%>"  frameborder="0" allowfullscreen> 
                  		</iframe>
                  		<% end %>
                  		</li></ul><%end%>
						<% else %>
						<img src="<%= image_path("vidimg2.png")%>">
 
 					 <% end %>
                        	
                        	
<style type="text/css">
 .thumbnails li, iframe{margin-left:20px;margin-right:70px;}
 
 iframe {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left:30px;
 

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;

  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;

  -moz-transform:rotate(0deg);
  -webkit-transform:rotate(0deg);
  -o-transform:rotate(0deg);
  -ms-transform:rotate(0deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.0);
} 
</style>


 
  
 
                      </li> 
                        
                      
                       <% end %>
<% end %>                                                                         
                    </ul>
                  </div>
        		</div>   
        		<%= render "shared/paginate" %>             
            <div class="nosrednahabo">&nbsp;</div>     
      
