<div id="acticity" class="modal hide fade">
<div class="modal-header">
<button class="close" data-dismiss="modal">&times;</button>
<h3>Welcome to DGD</h3>
</div>
<div class="modal-body">
The Democratic Governance for Development (DGD) project is an electoral cycle (2010-2015) project designed to provide a coordinated mechanism for supporting the deepening of democracy in Nigeria by international donors and partners. 
<p>
The main objective of the project is to assist Nigerian authorities to consolidate and advance democratic governance and accountability in order to achieve the stated development priorities and outcomes of the country. Managed by the UNDP, the project is jointly financed by the European Union, the UK Department for International Cooperation, the Canadian International Development Agency, the Korea International Cooperation Agency and UNDP. 
</p>
<p>
Of all actors involved in supporting the electoral process in Nigeria, DGD has provided the most comprehensive assistance under its 6 main areas of intervention aimed at strengthening the National Assembly, Political Parties, improving the electoral process, increasing the capacity and performance of Civil Society, reinforcing the role and effectiveness of the mass media and empowering women in political governance with DGD experts providing technical insights and guidance.
</p>
<p>
The first phase of the project (April 2010-May 2011) focused primarily on support for voter registration, civic education, media training, women's political representation, training for elections tribunal staff and election observers, and production of information materials and electoral kits aimed at making the 2011 general elections free, fair and credible. The project is currently in a project reformulation process in order to recalibrate the efficacy of its support to Nigeria's democracy and ensure that it follows the Electoral Cycle Approach which in addition to electoral support focuses on deepening democracy and developing the capacities of key democratic Institutions.
</p>
</div>
<div class="modal-footer">
<a href="#" class="btn" data-dismiss="modal" >Close</a>
</div>
</div>