-#<div class="sbhb fbn effect7" align="center">
-#<a href = "
-#= about_path 
-#"> About DGD</a> &bull; 
-#<a href="
-#= view_all_news_path 0
-#">DGD News</a> &bull; 
-#<a href="
-#= contact_path
-#">Contact Us</a> &bull;
-#<a href="
-#">Disclaimer</a> &bull;  
-#<a href="
-#= sitemap_path
-#">Site Map</a>
-#</div>
-#<footer class="footer sbhbb effect7  fbn">
-#The Democratic Governance for Development &copy; 2012  
-#</footer>
<div class="footer sbhbb fbn effect7" align="center">
<a href="#{about_path}">About DGD</a> &bull; 
<a href="#{view_all_news_path(0)}">DGD News</a> &bull; 
<a href="#{contact_path}">Contact Us</a> &bull; 
<a href="#{sitemap_path}">Site Map</a>
<hr class="dark">
The Democratic Governance for Development &copy; 2012
</div>