<% if !signed_in? %>
<!--<div class="row-fluid">
<div class="span10">
<a href="./">
<%= image_tag("undp.png", :style=>"float:left;padding:7px 7px 7px 0; margin:0px 5px  0 -35px;") %>
</a></div>-->
<div class="row-fluid">
<div class="span10">
<div style="margin-left:240px;">
	<a href="./">
	
		<%= image_tag("undp_left.png", :width=>644,:height=>145) %>
			 </a>
	</div>
 
 
 </div>
     <div class="span5" style="text-align:right;">    
     <!--<a href="feedback.php" class="btn"><i class="icon-share-alt"></i> Feedback</a>
      <a href="download.php" class="btn btn-inverse"><i class="icon-white icon-download"></i> Downloads</a>
     <a href="contactus.php" class="btn btn-info"><i class="icon-white icon-bell"></i> Contact Us</a>
     <a href="sitemap.php" class="btn btn-primary"><i class="icon-white icon-map-marker"></i> Site Map</a>-->
     </div>
    </div>
   
  <div class="breadcrumb" style="padding-bottom:0px;">
       
      	<%= form_tag({:controller=>'newspubs',:action=>'view_all',:id=>0},:method=>'get',:class=>"tagx form-search") %>
      <input type="text" class="input span3 search-query" name="q" placeholder="Search Keyword"> 
      <select class="span2" style"margin-top:6px;" name="t"> 
      <option value="all">Both</option>
        <option value="newsletter">Newsletter</option>
        <option value="publications">Publications</option>
      </select>
      <button type="submit" class="btn"  style"margin-top:6px;"><i class="icon-search"></i> Search</button>

 <div class="pull-right">
        	<a href="<%= view_all_newspub_path 0  %>" class="btn btn-inverse"> Newsletters and Publications </a> 
        	<a href="<%= partners_path %>" class="btn btn-info">International Partners </a></div>
<div class="nosrednahabo">&nbsp;</div></form>
</div>
  

   
    <!--<div class="slyc effect8" style="padding-bottom:012px;">
      	<form class="tagx form-search">
      <input type="text" class="input span3 search-query" placeholder="Search Keyword"> 
      <select class="span2"> 
      	<option value="">Search as;</option>

        <option value="">Newsletter</option>
        <option value="Watches">Activities</option>
      </select>
      <button type="submit" class="btn"><i class="icon-search"></i> Search</button>

        <div class="pull-right">
        	<a href="<%= view_all_newspub_path 0 %>" class="btn btn-inverse"> Newsletters and Publications </a> 
        	<a href="<%= partners_path %>" class="btn btn-info">International Partners </a></div>
</form>
<div class="nosrednahabo">&nbsp;</div>
</div>-->

<% else %>

<div class="row-fluid">
<div class="span10">
<a href="./">
<%= image_tag("undp.png", :style=>"float:left;padding:7px; margin:0px 5px;") %>
</a></div>
    
     <div class="span5" style="text-align:right;">    
     <!--<a href="feedback.php" class="btn"><i class="icon-share-alt"></i> Feedback</a>
      <a href="download.php" class="btn btn-inverse"><i class="icon-white icon-download"></i> Downloads</a>
     <a href="contactus.php" class="btn btn-info"><i class="icon-white icon-bell"></i> Contact Us</a>
     <a href="sitemap.php" class="btn btn-primary"><i class="icon-white icon-map-marker"></i> Site Map</a>-->
     </div>
    </div>
   
   
   
    <div class="breadcrumb" style="padding-bottom:0px;">
      		<%= form_tag({:controller=>'newspubs',:action=>'view_all',:id=>0},:method=>'get',:class=>"tagx form-search") %>
      <input type="text" class="input span3 search-query" name="q" placeholder="Search Keyword"> 
      <select class="span2" style"margin-top:6px;" name="t"> 
      <option value="all">Both</option>
        <option value="newsletter">Newsletter</option>
        <option value="publications">Publications</option>
      </select>
      <button type="submit" class="btn"><i class="icon-search"></i> Search</button>

        <div class="pull-right">
        	 
        	</div>
</form>
<div class="nosrednahabo">&nbsp;</div>
</div>
<% end %>