 <div class="row-fluid">
  <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  <div class="container">
  <a  href="<%= myhome_path%> class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </a>
  <a class="brand" href="<%= myhome_path%>"> Hello, <%= current_user.firstname %> <%= current_user.lastname %></a>
  <div class="nav-collapse collapse">
  <ul class="nav">
  <li class="">
  <a    href="<%= myhome_path %>"><i class="icon-white icon-home"></i></a>
  </li>
  <li class="divider-vertical"></li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %> Profile<b class="caret"></b></a>
  <ul class="dropdown-menu">
  <li><a href="<%= user_path current_user %>">View Profile</a></li>
  <li><a href="<%= edit_profile_user_path current_user %>">Edit Profile</a></li>
  <li><a href="<%= change_password_user_path current_user.id %>">Change Password</a></li>
  
  </ul>
  </li>
   
  <li class="divider-vertical"></li>
  <li class="">
  <a href="#"></a>&nbsp;
  </li>
  <li class="divider-vertical"></li>
    
  <li class="">
  <a href="<%= logout_path%>">Logout</a>
  </li> 
  </ul> </div>
  </div>
  </div>
  </div>
  </div>
