<%  if !signed_in? %>
<div class="row-fluid">
  <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  <div class="container">
  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </a>
  <div class="nav-collapse collapse">
  <ul class="nav">
  <li class="">
  <a href="<%= root_path%>"><i class="icon-white icon-home"></i></a>
  </li>
  <li class="divider-vertical"></li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
  <ul class="dropdown-menu">
  <li><a href="<%= about_path %>">About DGD</a></li>
  <li><a href="http://www.ng.undp.org" target="_blank">About UNDP</a></li>
  </ul>
  </li>
  <li class="divider-vertical"></li>
  <li class="">
  <a href="<%= view_all_event_path 0%>"> Events Calendar  </a>
  </li>
  <li class="divider-vertical"></li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Activities<b class="caret"></b></a>
  <ul class="dropdown-menu">
  <li><a href="#">Activity Discussions</a></li>
  </ul>
  </li>
  <li class="divider-vertical"></li>
  <li class="">
  <a href="<%= view_all_news_path 0%>">DGD News</a>
  </li>
  <li class="divider-vertical"></li>
  <li class="">
  <a href="<%= view_all_faq_path 0%>">FAQ</a>
  </li>
  <li class="divider-vertical"></li>
  <li class="">
  <a href="<%= view_all_photo_path  0%>">Photos</a>
  </li>
  <li class="divider-vertical"></li>
  <li class="">
  <a href="<%= view_all_download_path  0 %>">Downloads</a>
  </li>
  <li class="divider-vertical"></li>
  <li class="">
  <a href="#">Feedback</a>
  </li>
  </ul> </div>
  </div>
  </div>
  </div></div>
<% else %>
<%= render "shared/logged_in" %> 
<% end %>
