<% if @tweeter %>
<ul class= "list">
<% @tweeter.each do |t| %>
<li style="font-size:12px; clear:both; padding:0; margin: 0">
<b> @<%= "#{t.user.screen_name}"%> </b>: 
 <%= "#{t.text}".html_safe %> 	
</li>
<%end; end %>
</ul>