<% unless @recent_videos.blank? %>
<%  @recent_videos.each do |rv| %>
<% if !Rails.env.development? && rv.location =='Youtube' %>
  <iframe width="331" height="216" src="<%= rv.url%>"  frameborder="0" allowfullscreen>
  </iframe>

  <% else %>
<img src="images/vidimg2.png">

  <% end %>
  <% end %>
<% end %>


