<div class="sbh effect8">
        	<div class="breadcrumb"><a href="<%= myhome_path %>">System Dashboard</a> <i class="icon-chevron-left"></i> 
        		  <a href="<%= events_path %>">View All Events</a>  </div>
          <div class="well effect7">
           	<div class="sbh"><h2>System Dashboard &raquo; <%= @title %></h2></div>
			<div class="sbh bgff">

		<table class="table table-bordered table-striped">
        <thead>
        	<caption>Total Uploads &raquo; <%= @events.count.to_s %></caption>
           <thead class="table"><tr>
           
            <th> Event</th>
            <th> Event Logo </th>
            <th> Event Start date</th>
            <th> Event End date</th>
             <th>Action</th>
          </tr></thead>
        </thead>
        <tbody>
        	<% @events.each do |newspub|%>
          <tr>
            
            
                       <td><%=  newspub.title %></td>
                       <td><%=  image_tag newspub.file.url(:thumb) %></td>
                        <td><%=  time_tag newspub.start_date %>. </td>
                        
                       <td><%=  time_tag newspub.end_date%>. </td>
            <td>
            	<a class="btn"  data-toggle="modal" href="#<%= newspub.id.to_s%>"><i class="icon-list-alt"></i></a>
                <a class="btn" href="<%= edit_user_event_path(newspub.user_id,newspub.id) %>"><i class="icon-pencil"></i></a>
             
               <%= link_to "<i class=\"icon-trash\"></i>".html_safe, newspub ,:method => :delete,:class=>"btn" ,"date-remote"=>true,:confirm=>"Delete #{newspub.title} ?",:title => "Delete #{newspub.title}"%>
                
            </td>
          </tr>
           
           <% end %>
          
        </tbody>
      </table>
       <%= render "shared/paginate"%>
            </div>
            
          </div>
         
        </div>
        <% @events.each do |user| %>
 	     <div id="<%= user.id.to_s %>" class="modal hide fade">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">&times;</button>
              <h3><%= user.title %></h3>
            </div>
            <div class="modal-body">
				<div class="well effect8">                	
                    <ul class="tabs-stacked">
                    	<li class="lino">File &raquo; <%= user.title %> </li>
                                 <li class="lino">Created By &raquo; <%= user.user.username.capitalize %>   </li>
                    <li class="lino">Created &raquo; <%= distance_of_time_in_words_to_now(user.created_at,false).to_s %>  ago. </li>
             
                    </ul>
            	</div>
            </div>

            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal" >Close</a>
            </div>
          </div>
          <% end %>
          <div id="udel" class="modal hide fade">
            <div class="modal-header">
              <h3>Delete User?</h3>
            </div>
            <div class="modal-body">
				<div class="alert alert-danger">                	
                    Are you sure you want to delete user <em>'Name in full'</em>?
                    <a href="" class="btn-danger btn"><i class="icon-white icon-ok"></i> Yes</a>
            	</div>
            </div>

            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal"><i class="icon-remove"></i> Cancel</a>
            </div>
 
   