<div class="nosrednahabo">&nbsp;</div>
<%= session[:new_model] = @new_model %>
<%= render :partial => "shared/errors/error_messages" ,:lnew_model=>@new_model %>
<div class="row-fluid">
<div class="sbh effect8">
<div class="breadcrumb"><a href="<%= myhome_path %>">System Dashboard</a>
<i class="icon-chevron-left"></i> <a href="<%= user_events_path current_user %>">View My Events</a> <i class="icon-chevron-left"></i> </div>
<div class="well effect7">
<div class="sbh"><h2>System Dashboard &raquo; Event  Add</h2></div>
<div class="sbh bgff">
<div class="row-fluid">

<%= form_for current_user.events.build(:user=>current_user), :html => { :multipart => true } do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label "Logo" %>
   <%= form.file_field :file %>
   <%= form.label :start_date %>
  <!-- #form.date_select :start_date,:start_year=>2012,:end_year=>2015 ,:use_short_month=>true,:order=>[:day,:month,:year]%>
  -->
  <%=  form.text_field :start_date ,:class=>'datepicker'%>
  <%= form.label :end_date %>
  <%=  form.text_field :end_date ,:class=>'datepicker'%>
 
   <!-- #form.date_select :end_date ,:start_year=>2012,:end_year=>2015,:use_short_month=>true,:order=>[:day,:month,:year], :html=>{:class=>'input-small'} %>
  
  -->
  <%= form.label "Event Brief" %>
  <%= form.text_area :synopsis,:size=>"10x5"  %>
  <%= form.label "description" %>
  <%= form.text_area :description,:size=>"10x5" ,:class=>'tinymce' %>
  <br/>
  <button class="btn btn-primary"><i class="icon-white icon-plus-sign"></i> Save</button>
<% end %>


    
</div>  
</div>
</div>
</div>  