 <div class="row-fluid">
    
   	  <div class="span9">
        <div class="sbh effect8">
       		<div class="sbhb effect7">
            <h2><%= @event.title%></h2>
            </div>
          	<ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#partners" data-toggle="tab"><i class="icon-globe"></i> Details</a></li>
                   <li><a href="#" class="btn btn-success">Begins on : <%= time_tag @event.start_date %>.</a></li>
                   <li><a href="#" class="btn btn-danger">Ends on : <%= time_tag @event.end_date %>.</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="partners">
				<div class="sbh fbn">
	                <%= @event.description.html_safe %>
                    
                </div>
            </div>
             
          </div>
          
          </div>