<div class="row-fluid">
   	  <div class="span12" >
        <div class="sbh effect7 fbn" style="margin-bottom:15px;">
        	<div class="sbhb"><h2>Events </h2></div>
          <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#events" data-toggle="tab"><i class="icon-tasks"></i> Events</a></li>
            <!--<li><a href="#calenderMain" data-toggle="tab"><i class="icon-calendar"></i> Calender</a></li>    -->        
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="events">
            	<% @events.each_slice(4) do |e| %>
                  <ul class="thumbnails">
                  	 <% unless e[0].nil? %>
                    <li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                    <%= image_tag(e[0].file.url) unless e[0].nil?%>
                    <h5 class="m7"><%= e[0].title unless e[0].nil? %></h5>
                     <%= e[0].synopsis unless e[0].nil? %>
                    <a  href="<%= event_path e[0] unless e[0].nil? %>" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                    </div>
                    </li>
                     <% end %>
                    <% unless e[1].nil? %>
 					<li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                     <%= image_tag(e[1].file.url) unless e[1].nil?%>
                    <h5 class="m7"><%= e[1].title unless e[1].nil? %></h5>
                     <%= e[1].synopsis unless e[1].nil? %>
                     <a  href="<%= event_path e[1] unless e[1].nil? %>" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                    </div>
                    </li>
                    <% end %>
                     <% unless e[2].nil? %>
                    <li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                    <%= image_tag(e[2].file.url) unless e[2].nil?%>
                    <h5 class="m7"><%= e[2].title unless e[2].nil? %></h5>
                     <%= e[2].synopsis unless e[2].nil? %>
                    <a  href="<%= event_path e[2] unless e[2].nil? %>" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                    </div>
                    </li>
                     <% end %>
                      <% unless e[3].nil? %>
                    <li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                    
                     <%= image_tag(e[3].file.url) unless e[3].nil?%>
                    <h5 class="m7"><%= e[3].title unless e[3].nil? %></h5>
                     <%= e[3].synopsis unless e[3].nil? %>
                    <a  href="<%= event_path e[3] unless e[3].nil? %>" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                     </div>
                    </li>
                     <% end %>
                 </ul>
                 <% end %>
   <%= render "shared/paginate"%>
            </div>
           <!-- <div class="tab-pane fade" id="calenderMain">
            	<div class="alert alert-info">
                	<button class="close" data-dismiss="alert">×</button>
                	<strong>Click</strong> the buttons to view calender events/activities.
                </div>
              
             	<div id='calendar1'>
             		 
             	</div>
           </div>-->
          </div>
          <hr>
       </div></div> 
        
      
  
       
     
 
