 <div class="row-fluid">
   	  <div class="span12">
        <div class="sbh effect7 fbn" style="margin-bottom:15px;">
        	<div class="sbhb"><h2>News</h2></div>
          <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#latest" data-toggle="tab"><i class="icon-file"></i> Latest News</a></li>
            <li><a href="#past" data-toggle="tab"><i class="icon-briefcase"></i> Archive News</a></li>            
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="latest">
            	<ul class="thumbnails">
                    <li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                    <img src="images/vt1.jpg"/>
                    <h5 class="m7">News 1 label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <span class="label label-info">Date &raquo; August 8, 2012</span>
                    <hr>                    
                    <a data-toggle="modal" href="#popNews1" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                    </div>
                    </li>
 					<li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                    <img src="images/vt2.jpg"/>
                    <h5 class="m7">News 2 label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <span class="label label-info">Date &raquo; August 8, 2012</span>
                    <hr>
                    <a data-toggle="modal" href="#popNews2" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                    </div>
                    </li>
                    <li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                    <img src="images/vt3.jpg"/>
                    <h5 class="m7">News 3 label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <span class="label label-info">Date &raquo; August 3, 2012</span>
                    <hr>
                    <a data-toggle="modal" href="#popNews3" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                    </div>
                    </li>
                    <li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                    <img src="images/vt4.jpg"/>
                    <h5 class="m7">News 4 label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <span class="label label-info">Date &raquo; August 2, 2012</span>
                    <hr>
                    <a data-toggle="modal" href="#popNews4" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                    </div>
                    </li>
                 </ul>
                 
                  <%= render "shared/paginate"%>    
            </div>
          
                <div class="tab-pane fade" id="past">
				<ul class="thumbnails">
                    <li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                    <img src="images/vt1.jpg"/>
                    <h5 class="m7">News 1 label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <span class="label label-info">Date &raquo; August 8, 2012</span>
                    <hr>                    
                    <a data-toggle="modal" href="#popNews1" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                    </div>
                    </li>
 					<li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                    <img src="images/vt2.jpg"/>
                    <h5 class="m7">News 2 label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <span class="label label-info">Date &raquo; August 8, 2012</span>
                    <hr>
                    <a data-toggle="modal" href="#popNews2" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                    </div>
                    </li>
                    <li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                    <img src="images/vt3.jpg"/>
                    <h5 class="m7">News 3 label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <span class="label label-info">Date &raquo; August 3, 2012</span>
                    <hr>
                    <a data-toggle="modal" href="#popNews3" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                    </div>
                    </li>
                    <li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                    <img src="images/vt4.jpg"/>
                    <h5 class="m7">News 4 label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <span class="label label-info">Date &raquo; August 2, 2012</span>
                    <hr>
                    <a data-toggle="modal" href="#popNews4" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                    </div>
                    </li>
                    
                 </ul>
                <%= render "shared/paginate"%>               
            </div>
                <hr>
            </div>
            
          
        </div>