<div class="nosrednahabo">&nbsp;</div>
<%= session[:new_model] = @new_model %>
<%= render :partial => "shared/errors/error_messages" ,:lnew_model=>@new_model %>
<div class="row-fluid">
<div class="sbh effect8">
<div class="breadcrumb"><a href="<%= myhome_path %>">System Dashboard</a>
<i class="icon-chevron-left"></i> <a href="<%= user_events_path current_user %>">View My Events</a> <i class="icon-chevron-left"></i> </div>
<div class="well effect7">
<div class="sbh"><h2>System Dashboard &raquo; News Create</h2></div>
<div class="sbh bgff">
<div class="row-fluid">

<%= form_for @news, :html => { :multipart => true } do |form| %>
  <%= form.label :caption %>
  <%= form.text_field :caption %>
  <%= form.label :news_image %>
  <%= form.file_field :news_image %>
   <p class="alert alert-error">Include Image in Home Page :   <%= form.check_box :landing_page_image , :value=>1 %> </p>
   <%= form.label "News Content" %>
  <%= form.text_area :news_content,:size=>"10x5" ,:class=>'tinymce' %>
  <%= form.label "Author / Contributor" %>
  <!-- #form.date_select :start_date,:start_year=>2012,:end_year=>2015 ,:use_short_month=>true,:order=>[:day,:month,:year]%>
  -->
  <%=  form.text_field :author , :value => "#{current_user.firstname} #{current_user.lastname}" %>

  <%=  form.hidden_field :category ,:value => "news"%>
  <br/>
  <button class="btn btn-primary"><i class="icon-white icon-plus-sign"></i> Save</button>
<% end %>


    
</div>  
</div>
</div>
</div>  