<div class="nosrednahabo">&nbsp;</div>
<%= session[:new_model] = @new_model %>
<%= render :partial => "shared/errors/error_messages" ,:lnew_model=>@new_model %>
<div class="row-fluid">
<div class="sbh effect8">
<div class="breadcrumb"><a href="<%= myhome_path %>">System Dashboard</a>
<i class="icon-chevron-left"></i> <a href="<%= user_news_index_path current_user %>">View My News</a> <i class="icon-chevron-left"></i> </div>
<div class="well effect7">
<div class="sbh"><h2>System Dashboard &raquo; Press Release Add </h2></div>
<div class="sbh bgff">
<div class="row-fluid">

<%= form_for @news, :html => { :multipart => true } do |form| %>
  <%= form.label :caption %>
  <%= form.text_field :caption %>
     <%= form.hidden_field :landing_page_image, :value=>false %> 
   <%= form.label "File" %>
  <%= form.file_field :release %>
  
  <%=  form.hidden_field :category ,:value => "press_release"%>
  <br/>
  <button class="btn btn-primary"><i class="icon-white icon-plus-sign"></i> Save</button>
<% end %>


    
</div>  
</div>
</div>
</div>  