<div class="sbh effect8">
        	<div class="breadcrumb"><a href="<%= myhome_path %>">System Dashboard</a> <i class="icon-chevron-left"></i> 
        		  <a href="<%= news_index_path  %>">View All News</a>  </div>
          <div class="well effect7">
           	<div class="sbh"><h2>System Dashboard &raquo; <%= @title %></h2></div>
			<div class="sbh bgff">

		<table class="table table-bordered table-striped">
        <thead>
        	<caption>Total Uploads &raquo; <%= @news.count.to_s %></caption>
           <thead class="table"><tr>
           
            <th> News Caption</th>
            <th> Image </th>
            <th> Type </th>
            <th> Author </th>
            
             <th>Action</th>
          </tr></thead>
        </thead>
        <tbody>
        	<% @news.each do |newspub|%>
          <tr>
            
            
                       <td><%=  newspub.caption %></td>
                       
                       <td><%=  image_tag newspub.news_image.url(:thumb) unless newspub.news_image.nil? %></td>
                     <% if newspub.release_file_name.nil? %>
                         <td><%=   newspub.category.gsub("_", "  ").capitalize   %> </td> 
                          <% else %>
                      <td><%=   link_to newspub.category.gsub("_", "  ").capitalize , newspub.release.url,:target=>"_blank"  %> </td> 
                       
                      <% end %>
                        <td><%=   newspub.author %> </td> 
                       
            <td>
            	<a class="btn"  data-toggle="modal" href="#<%= newspub.id.to_s%>"><i class="icon-list-alt"></i></a>
                <a class="btn" href="<%= edit_user_news_path(newspub.user_id,newspub.id, :category=>newspub.category) %>"><i class="icon-pencil"></i></a>
             
               <%= link_to "<i class=\"icon-trash\"></i>".html_safe, newspub ,:method => :delete,:class=>"btn" ,"date-remote"=>true,:confirm=>"Delete #{newspub.caption} ?",:title => "Delete #{newspub.caption}"%>
                
            </td>
          </tr>
           
           <% end %>
          
        </tbody>
      </table>
       <%= render "shared/paginate"%>
            </div>
            
          </div>
         
 
        <% @news.each do |user| %>
 	     <div id="<%= user.id.to_s %>" class="modal hide fade">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">&times;</button>
              <h3><%= user.caption %></h3>
            </div>
            <div class="modal-body">
				<div class="well effect8">                	
                    <ul class="tabs-stacked">
                    	<li class="lino">File &raquo; <%= user.caption %> </li>
                                 <li class="lino">Created By &raquo; <%= user.user.username.capitalize %>   </li>
                    <li class="lino">Created &raquo; <%= distance_of_time_in_words_to_now(user.created_at,false).to_s %>  ago. </li>
             
                    </ul>
            	</div>
            </div>

            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal" >Close</a>
            </div>
          </div>
          <% end %>
          
           
           
 
   