 <div class="row-fluid">
    
   	  <div class="span12">
        <div class="sbh effect8">
       		<div class="sbhb effect7">
            <h2><%= @news.caption%></h2>
            </div>
          	<ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#partners" data-toggle="tab"><i class="icon-globe"></i> News Story</a></li>
                   <li><a href="#" class="btn btn-success">Date : <%= time_tag @news.created_at.to_date %>.</a></li>
                   
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="partners">
				<div class="sbh fbn">
	                <%= @news.news_content.html_safe %>
                    
                </div>
                 <p class="btn btn-success">Written By: <%= @news.author %>.</p>
                  
            </div>
             
          </div>
          
          </div>