 <div class="row-fluid">
   	  <div class="span12">
        <div class="sbh effect7 fbn" style="margin-bottom:15px;">
        	<div class="sbhb"><h2>News</h2></div>
          <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#latest" data-toggle="tab"><i class="icon-file"></i> Latest News</a></li>
           <li><a href="#past" data-toggle="tab"><i class="icon-briefcase"></i> Press Release </a></li>         
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="latest">
            	<% @news.each_slice(4) do |news|%>
            	<ul class="thumbnails">
                   <% unless news[0].nil? || news[0].category =='press_release'%>
                    <li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                    <%= image_tag news[0].news_image.url(:medium) unless news[0].nil? %>
                    
                    <h5 class="m7"><%= news[0].caption unless news[0].nil? %></h5>
                    <%= truncate(news[0].news_content).html_safe unless news[0].nil?%>
                    <span class="label label-info">Date &raquo;   <%= time_tag(news[0].created_at.to_date) unless news[0].nil?%>. </span>
                    <hr>                    
                    <a data-toggle="modal" href="<%= news_path news[0]  unless news[0].nil?%>" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                    </div>
                    </li>
                      <% end %>
                        <% unless news[1].nil? || news[1].category =='press_release' %>
 					<li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                     <%= image_tag news[1].news_image.url(:medium) unless news[1].nil? %>
                    <h5 class="m7"><%= news[1].caption unless news[1].nil? %></h5>
                    <%= truncate(news[1].news_content).html_safe unless news[1].news_content.nil?%>
                    <span class="label label-info">Date &raquo;   <%= time_tag(news[1].created_at.to_date) unless news[1].nil?%>. </span>
                     <hr>                    
                    <a data-toggle="modal" href="<%= news_path news[1] unless news[1].nil? %>" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                      </div>
                    </li>  <% end %>
                      <% unless news[2].nil? || news[2].category =='press_release'%>
                    <li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                     <%= image_tag news[2].news_image.url(:medium) unless news[2].nil? %>
                    <h5 class="m7"><%= news[2].caption unless news[2].nil? %></h5>
                    <%= truncate(news[2].news_content).html_safe unless news[2].nil?%>
                    <span class="label label-info">Date &raquo;   <%= time_tag(news[2].created_at.to_date) unless news[2].nil?%>. </span>
                     <hr>                    
                    <a data-toggle="modal" href="<%= news_path news[2] unless news[2].nil?%>" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                      </div>
                    </li>
                      <%end %>
                        <% unless news[3].nil? || news[3].category =='press_release'%>
                    <li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                     <%= image_tag news[3].news_image.url(:medium) unless news[3].nil? %>
                    <h5 class="m7"><%= news[3].caption unless news[3].nil? %></h5>
                    <%= truncate(news[3].news_content).html_safe unless news[3].nil?%>
                    <span class="label label-info">Date &raquo;   <%= time_tag(news[3].created_at.to_date) unless news[3].nil?%>. </span>
                     <hr>                    
                    <a data-toggle="modal" href="<%= news_path news[3] unless news[3].nil? %>" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                      </div>
                    </li>
                      <% end %>
                 </ul>
                
                  <%= render "shared/paginate"%>    
            </div>
          
                <div class="tab-pane fade" id="past">
				<ul class="thumbnails">
                 <% unless news[0].nil? || news[0].category =='news'%>
                    
                    <li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                    <%= image_tag("vt1.jpg")%>
                    <h5 class="m7"><%= news[0].caption unless news[0].nil? %></h5>
                   
                    <span class="label label-info">Date &raquo;<%=  time_tag news[0].created_at.to_date unless news[0].nil? %>   </span>
                    <hr>                    
                    <a data-toggle="modal" href="<%= news[0].release.url unless news[0].nil? %>"  target = "_blank" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                    </div>
                    </li>
                    <% end %>
 					 <% unless news[1].nil? || news[1].category =='news'%>
                    
                    <li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                  <%= image_tag("vt1.jpg")%>
                    <h5 class="m7"><%= news[1].caption unless news[1].nil? %></h5>
                   
                    <span class="label label-info">Date &raquo; <%=  time_tag news[1].created_at.to_date unless news[1].nil? %> </span>
                    <hr>                    
                    <a data-toggle="modal" href="<%= news[1].release.url unless news[1].nil? %>"  target = "_blank" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                    </div>
                    </li>
                    <% end %>
                    
                    
                    <% unless news[2].nil? || news[2].category =='news'%>
                    
                    <li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                   <%= image_tag("vt1.jpg")%>
                    <h5 class="m7"><%= news[2].caption unless news[2].nil? %></h5>
                   
                    <span class="label label-info">Date &raquo; August 8, 2012</span>
                    <hr>                    
                    <a data-toggle="modal" href="<%= news[2].release.url unless news[2].nil? %>" target = "_blank" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                    </div>
                    </li>
                    <% end %>
                    
                    <% unless news[3].nil? || news[3].category =='news'%>
                    
                    <li class="span3">
                    <div class="thumbnail sbh fbn lh4">
                    <img src="images/vt1.jpg"/>
                    <h5 class="m7"><%= news[3].caption unless news[3].nil? %></h5>
                   
                    <span class="label label-info">Date &raquo; August 8, 2012</span>
                    <hr>                    
                    <a data-toggle="modal" href="<%= news[3].release.url unless news[3].nil? %>" target = "_blank" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
                    </div>
                    </li>
                    <% end %>
                 </ul>
                 <% end %>
                <%= render "shared/paginate"%>               
            </div> 
                <hr>
            </div>
            
          
        </div>