<div class="nosrednahabo">&nbsp;</div>
- session[:new_model] = @new_model
= render :partial => "shared/errors/error_messages" ,:lnew_model=>@new_model
<div class="row-fluid">
<div class="sbh effect8">
<div class="breadcrumb"><a href="
= myhome_path
">System Dashboard</a>
<i class="icon-chevron-left"></i> <a href="
= user_newspubs_path 
">View My Uploads</a> <i class="icon-chevron-left"></i> </div>
<div class="well effect7">
<div class="sbh"><h2>System Dashboard &raquo; Uploaded  File Edit </h2></div>
<div class="sbh bgff">
<div class="row-fluid">
= form_for(@newspub,:html=>{:class=>"well span7",:method=>:put,:multipart => true}) do |f|
  %fieldset
    <legend>Edit Uploaded File</legend>
    = f.hidden_field :id
    = f.label "Friendly File name"
    = f.text_field :title
    = f.label :file
    = f.file_field :file
    = f.label "description" 
    = f.text_area :description,:size=>"10x5" 
    %br
    <button class="btn btn-primary"><i class="icon-white icon-plus-sign"></i> Save</button>
</div>  
</div>
</div>
</div>  