      <div class='row-fluid'>
        <div class="span10">
          <div class="sbh effect7 fbn" style="margin:10px 0px; line-height:1.7em;">
			<div class="sbhb"><h2>Photo Gallery</h2></div>
            	<div class="sbh fbn">
         			<div class="row-fluid" id="gallery">
         				<% @photos.each_slice(4) do |p| %>
       
         				   	<ul class="thumbnails"> 
         				 
         		<li class="span3">	
         		<%= link_to image_tag(p[0].file.url(:medium),:alt=>""),p[0].file.url,:rel=>"lightbox[Brussels]",:title=> p[0].title,:class=>"thumbnail"  if !p[0].nil?  %>	
         		<div class="sbh fbn" style="font-size:8pt;"><%= p[0].title if !p[0].nil?  %></div>
                      </li> 
                      
                      <li class="span3">	
         		<%= link_to image_tag(p[1].file.url(:medium)),p[1].file.url,:rel=>"lightbox[Brussels]",:title=> p[1].title,:class=>"thumbnail"  if !p[1].nil?  %>	
         		<div class="sbh fbn" style="font-size:8pt;"><%= p[1].title if !p[1].nil? %></div>
                      </li>
                      <li class="span3">	
         		<%= link_to image_tag(p[2].file.url(:medium)),p[2].file.url,:rel=>"lightbox[Brussels]",:title=> p[2].title,:class=>"thumbnail"  if !p[2].nil?  %>	
         		<div class="sbh fbn" style="font-size:8pt;"><%= p[2].title if !p[2].nil? %></div>
                      </li>
                      <li class="span3">	
         		<%= link_to image_tag(p[3].file.url(:medium)),p[3].file.url,:rel=>"lightbox[Brussels]",:title=> p[3].title,:class=>"thumbnail"  if !p[3].nil?  %>	
         		<div class="sbh fbn" style="font-size:8pt;"><%= p[3].title if !p[3].nil?  %></div>
                      </li>
                       
         			  </ul>
         			   		                    
                       
                       
                         <% end %>
         				  
                      
         				 
                	 
                  </div>
                  <%= render "shared/paginate" %>
        		</div>                
            <div class="nosrednahabo">&nbsp;</div>     
        </div></div>
        


        
