@charset "utf-8";
/* CSS Document */


.nosrednahabo{
	clear:both;
}

.box {
  padding:14px;
  margin: 0 0 18px;
  font-size:9pt;
  list-style: none;
  text-shadow:1px 1px #000;
 background-color: #0c2778;
 margin-bottom:10px;
  background-image: -moz-linear-gradient(top, #2d5be3, #0c2778);
  background-image: -ms-linear-gradient(top, #0c2778, #2d5be3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d5be3), to(#0c2778));
  background-image: -webkit-linear-gradient(top, #2d5be3, #0c2778);
  background-image: -o-linear-gradient(top, #2d5be3, #0c2778);
  background-image: linear-gradient(top, #2d5be3, #0c2778);
  background-repeat: repeat-x;
  border: 1px solid #2d5be3;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#2d5be3', endColorstr='#0c2778', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
		  padding:10px;
		  color:#fff;
}

.effect8
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 30px #0E488F;
    -moz-box-shadow:0 0 30px #0E488F;
    box-shadow:0 0 20px #0E488F;
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.effect8:after
{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}  

.effect7
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 10px #0E488F;
    -moz-box-shadow:0 0 10px #0E488F;
    box-shadow:0 0 10px #0E488F;
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.effect7:after
{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}

.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}


.sbh{
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  border: 1px solid #ddd;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
		  padding:12px;
		  font-weight:bold;
		  margin-bottom:10px;
		  font-size:10pt;
		  color:#333;
		  text-shadow:1px 1px #fff;
}

.sbhb{
 text-shadow:1px 1px #000;
 background-color: #0c2778;
 margin-bottom:10px;
  background-image: -moz-linear-gradient(top, #2d5be3, #0c2778);
  background-image: -ms-linear-gradient(top, #0c2778, #2d5be3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d5be3), to(#0c2778));
  background-image: -webkit-linear-gradient(top, #2d5be3, #0c2778);
  background-image: -o-linear-gradient(top, #2d5be3, #0c2778);
  background-image: linear-gradient(top, #2d5be3, #0c2778);
  background-repeat: repeat-x;
  border: 1px solid #2d5be3;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#2d5be3', endColorstr='#0c2778', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #2d5be3;
     -moz-box-shadow: inset 0 1px 0 #2d5be3;
          box-shadow: inset 0 1px 0 #2d5be3;
		  padding:10px;
		  color:#fff;
		  font-weight:bold;
}

.sbhb a{
	color:#fff;
}

.scrollspy-example img{
	margin:5px 0px;
}

.span2 img{
	margin:6px 0px 6px -3px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 0 3px #999;
	-webkit-box-shadow: 0 0 3px #999;
	-o-box-shadow:0 0 3px #999;
	box-shadow:0 0 5px #999;
	padding:4px;
}

.fbn{
	font-weight:normal;
}

.imgfl{
	padding:5px;
	margin:5px 10px;
	float:right;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 0 3px #999;
	-webkit-box-shadow: 0 0 3px #999;
	-o-box-shadow:0 0 3px #999;
	box-shadow:0 0 5px #999;
}

.imgflj{
	padding:5px;
	margin:5px 10px;
	float:left;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 0 3px #999;
	-webkit-box-shadow: 0 0 3px #999;
	-o-box-shadow:0 0 3px #999;
	box-shadow:0 0 5px #999;
}

p#vtip { display: none; position: absolute; padding:5px; left: 5px; font-size:9pt; background-color: white; border: 1px solid #a6c9e2; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 9999;width:200px; line-height:1.7em;}
p#vtip #vtipArrow { position: absolute; top: -10px; left: 5px }

.lino{
	list-style:none;
	margin-left:-25px;
	font-size:9pt;
	padding:3px;
}

.fnL{
	font-size:10pt;
	
}

.imgth{
	padding:5px;
	margin:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 0 3px #999;
	-webkit-box-shadow: 0 0 3px #999;
	-o-box-shadow:0 0 3px #999;
	box-shadow:0 0 5px #999;
}

.m7{
	margin:7px;
}

.lh4{
	line-height:1.4em;
}

.lh5{
	line-height:1.6em;
}

.thumbnail img:hover{
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.thumbnail:hover{
  background-color: #2d5be3;
  background-image: -moz-linear-gradient(top, #0c2778, #2d5be3);
  background-image: -ms-linear-gradient(top, #0c2778, #2d5be3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0c2778), to(#2d5be3));
  background-image: -webkit-linear-gradient(top, #0c2778, #2d5be3);
  background-image: -o-linear-gradient(top, #0c2778, #2d5be3);
  background-image: linear-gradient(top, #0c2778, #2d5be3);
  background-repeat: repeat-x;
  border: 1px solid #2d5be3;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
		  color:#fff;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0c2778', endColorstr='#2d5be3', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #2d5be3;
     -moz-box-shadow: inset 0 1px 0 #2d5be3;
          box-shadow: inset 0 1px 0 #2d5be3;
		  text-shadow:none;

}

#calendar {
	width:auto;
	text-shadow:none;
}

.datatable {
	border: 1px solid #D6DDE6;
	border-collapse: collapse;
	width: 100%;
}
.datatable td {
	border: 1px solid #D6DDE6;	
	padding-left:13px;
	padding-top:5px;
	padding-bottom:5px;
}
.datatable th {
	border: 1px solid #828282;
	font-weight: bold;
	text-align: left;
	padding: 7px 14px;
background-color: #c4daff;
  background-image: -moz-linear-gradient(top, #e6ecf7, #c4daff);
  background-image: -ms-linear-gradient(top, #e6ecf7, #c4daff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6ecf7), to(#c4daff));
  background-image: -webkit-linear-gradient(top, #e6ecf7, #c4daff);
  background-image: -o-linear-gradient(top, #e6ecf7, #c4daff);
  background-image: linear-gradient(top, #e6ecf7, #c4daff);
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
	 color:#333;
	 text-decoration:none;
          border-radius: 3px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0c2778', endColorstr='#2d5be3', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
	
}
.datatable caption {
	color: #33517A;
	text-align: left;
	padding-top: 3px;
	padding-bottom: 8px;
}

.datatable tr{
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  border: 1px solid #ddd;
  text-shadow:none;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
}

.datatable tr:hover, .datatable tr.hilite {
	color: #000000;
	background-color: #c4daff;
  background-image: -moz-linear-gradient(top, #e6ecf7, #c4daff);
  background-image: -ms-linear-gradient(top, #e6ecf7, #c4daff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6ecf7), to(#c4daff));
  background-image: -webkit-linear-gradient(top, #e6ecf7, #c4daff);
  background-image: -o-linear-gradient(top, #e6ecf7, #c4daff);
  background-image: linear-gradient(top, #e6ecf7, #c4daff);
  border: 1px solid #06C;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0c2778', endColorstr='#2d5be3', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.arrow-right{
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #4A86DF;
	margin:30px 0px 2px 68px;
}

li.span2 img{
	padding:2px;
}

section{
	margin:0px;
	padding-top:35px;
}

.smap a{
	color:#09F;
}
.slyc {
  padding:14px;
  margin: 0 0 18px;
  list-style: none;
 background-color: #ccc;
  background-image: -moz-linear-gradient(top, #fff, #ccc);
  background-image: -ms-linear-gradient(top, #fff, #ccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ccc));
  background-image: -webkit-linear-gradient(top, #fff, #ccc);
  background-image: -o-linear-gradient(top, #fff, #ccc);
  background-image: linear-gradient(top, #fff, #ccc);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff', endColorstr='#ccc', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #fbfbfb;
     -moz-box-shadow: inset 0 1px 0 #fbfbfb;
          box-shadow: inset 0 1px 0 #fbfbfb;
	margin-bottom:15px;
	padding:15px 10px;
	text-shadow:none;
}

.mgc{
	margin:5px auto;
}

.bgff{
	background:#fff;
}