<div class="span2 impd">
<div class="well effect7" style="min-height:260px; font-size:8pt; font-weight:bold; color:#036; text-align:center;">
<img src="images/June2011-cover.jpg"/>
<img src="images/cover-NHDR_SUMMARY_2008-2009.jpg" />
<img src="images/logo.jpg" />
<img src="images/undaf2.jpg" /><img src="images/small_cpap_09-12.jpg" /><img src="images/small_cpd_7thCP.gif" />
<img src="images/2007_anual_report.gif" /></div>
</div>
<div class="span10">
<div class="sbh effect7 fbn" style="margin-bottom:15px;">
<div class="sbhb"><h2>About DGD</h2></div>
<header class="jumbotron subhead" id="overview">
<div class="subnav">
<ul class="nav nav-pills">           
<li><a href="#WhoWeAre">Who we are</a></li>
<li><a href="#whatwedo">What we do</a></li>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">DGD II Project Components <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="#Component1">Component 1</a></li>
<li><a href="#Component2">Component 2</a></li>
<li><a href="#Component3">Component 3</a></li>
<li><a href="#Component4">Component 4</a></li>
</ul>
</li>
</ul>
</div>
</header>
<section id="WhoWeAre">
<div class="sbh"><h3>Who  we are</h3></div>
<p class="lh5">The Democratic Governance for Development (DGD) Project is an electoral cycle (April 2010-April 2015)  joint donor funded project managed by the United Nations Development Programme (UNDP) in support of deepening democracy in Nigeria. The project is funded with contributions from the European Commission (EC), the UK Department for International Development (DFiD), The Canadian International Development Agency (CIDA) and United Nations Development Fund (UNDP).</p>
<p class="lh5">The Objectives of the project are to strengthen the democratic character of Nigerian political processes; and promote outcomes that consolidate and advance democratic governance and accountability to achieve Nigeria's stated development priorities and goals.</p>
<p class="lh5"> As a driving force for strengthening accountable and responsive governance institutions, and consolidating democratic governance in line with international best practices, the project provides technical and financial support to the Independent National Electoral Commission, civil society organizations, and institutions such as the judiciary, the media, national and state parliaments, and political parties. </p>
<p class="lh5"><strong>Implementing Partners:</strong>  the National Assembly, The Independent National Electoral Commission (INEC), Federal and State Institutions, States Independent Electoral Commission (SIECs), political parties, Civil Society Organisations including women, youth and people living with disabilities groups  and Media Organisations</p>
</section>
<section id="whatwedo">
<div class="sbh"><h3>What we do</h3></div>
<h4>DGD I</h4>
<p class="lh5">Phase 1 of DGD, which commenced in 2010 and ended in May 2011, addressed specific interventions that sought to improve the conduct of the 2011 general elections. During this phase, the project's specific objectives were pursued through 6 distinct and inter-related programme components: Strengthening of the National Assembly; Strengthening of Political Parties; Improvement of the Electoral Process; Increased Capacity and Performance of Civil Society; Reinforcing the role of the Media; and Empowerment of Women. </p>
<p class="lh5">Nigeria successfully concluded its general elections in April 2011 with full support from the DGD project and its partners. </p>
<p class="lh5">In phase 1, DGD provided technical and financial assistance to  support the conduct of Nigeria successful 2011 elections, including  US $5.5 million to the Independent National Election Commission in order to support the development of  a <strong>credible voters' register</strong>, crucial for conducting free and fair elections.  DGD project also supported  the National Human Rights Commission to train <strong>750 election security personnel</strong> and <strong>370 security monitors</strong> who helped to contribute to the peaceful conduct of the elections. In addition, <strong>365 youth</strong> leaders of political parties were trained on non-violence and conflict management.  The project also provided over<strong> US$10 million</strong> to 18 civil society organizations to support nation wide voter education, advocacy and domestic observation as well as training of journalists on balanced reporting of the elections.</p>
<h4>DGD II</h4>
<p class="lh5">Based on lessons learnt and recommendations of the Project's Strategic Review which was conducted between November 2011 and January 2012, the project has been recalibrated to re-prioritize intervention areas, and provide more targeted assistance to critical stakeholders and beneficiaries in the deepening of democracy in Nigeria. </p>
</section>
<section id="Component1">
<div class="sbh"><h3>DGD II Project Components</h3> </div>
<div class="alert alert-info"><strong>Component 1:</strong> <em>Promoting Credible, Transparent and Sustainable Electoral Processes</em></div>
<p class="lh5"><strong>DGD II</strong> will mainstream support to sustainable electoral processes through engaging the Independent National Electoral Commission (INEC) to improve INEC's institutional capacity; strategic planning and operational competency; staff professional development; voter registration; strategic engagement with electoral stakeholders to promote political party reform; legal reform involving the legislature; civic education, election monitoring and observation involving civil society and media; gender mainstreaming in the electoral process; and promoting inclusive participation for the youth and PWDs.  The project will also render support towards strengthening the capacity of the State Independent Electoral Commissions to promote credible local elections.  </p>
<section id="Component2">
<div class="alert alert-info"><strong>Component 2:</strong> <em>Improving the Democratic Quality of Political Engagement</em></div>
DGD II will concentrate on efforts to improve democratic functioning of political parties, professionalizing their administration, strengthening inter-party dialogue and enabling political parties to effectively engage with the electoral process.</section>
<section id="Component3"><div class="alert alert-info"><strong>Component 3:</strong>  <em>Enhancing Participation by Women, Youth and other marginalized groups</em></div>
<p class="lh5">This component seeks to support ongoing legal reform to promote affirmative action and women's empowerment as candidates, voters and election officials. The component will utilize three entry points: supporting political parties to strengthen internal processes geared to advancing the role of women as candidates for public office and as actors within the party structures; training women to organize and mobilize public support for their election to public office; and supporting those women who get elected to become effective role models and drivers of change to promote affirmative action and women's empowerment especially in the National Assembly.</p> </section>
<section id="Component4">
<div class="alert alert-info"><strong>Component 4:</strong> <em>Strengthening Channels of Civic Engagement: </em></div>
<p class="lh5">Civil Society and Media: Under this component, DGD engagement with Civil Society and Media have been merged to foster better programmatic coordination and also cross-pollination between civil society and the media. The project will forge partnerships and collaboration with CSO and media to conduct election monitoring and observation, and civic and voter education, especially during the election period, it will also place emphasis on strengthening the capacity of civil society actors and the media to carry out their respective mandates more effectively and sustainably. The project envisages support to help civil society and the media play a key role in supporting ongoing electoral reform by working with INEC and the legislature.  This component also addresses issues of inclusive participation especially as they relate to the youth and People Living with Disabilities (PWDs).</p></section>
<p class="lh5"><strong><em>Freedom of Information Act:</em></strong> The DGD project is engaging with key government institutions, media  and civil society to support the <strong>Public awareness and implementation of the Freedom of Information Act <em>(FoIA)</em></strong>. DGD support initiatives that <strong>popularizes the right to official information and strengthen mechanisms to provide and access required information</strong> to promote participatory democracy by creating an enlightened citizenry that is aware of the existence of the Act, familiar with its provisions and able to use to obtain information on a variety of governance issues relevant to their needs and interests.</p>
</div>  
= render '/shared/partners_smedia'       
<div class="nosrednahabo">&nbsp;</div>
   
 