<div class="row-fluid">
    
   	  <div class="span9">
        <div class="sbh effect8">
       		<div class="sbhb effect7">
            <h2>Contact Us</h2>
            </div>
          	<div class="sbh">
            	 
            		<%= form_for(:contact,:url=> {:action => 'contact'}, :html=>{:class=>"sbh span6"}) do |f| %>
                	<h3 class="breadcrumb">Send A Message</h3>
                <label>Your Name </label>
                
                <%= f.text_field :fullname ,:class => 'span10',:placeholder => "Enter your name"%>
                <label>Your Email </label>
                 
                 <%= f.text_field :email ,:class => 'span10',:placeholder => "Enter your E-mail"%>
               
                <label>Subject </label>
               <%= f.text_field :subject ,:class => 'span10',:placeholder => "Enter your subject"%>
                  
                <label>Message</label>
                
                 <%= f.text_area :bdy ,:class => 'span10',:placeholder => "Enter your message" , :size => "10x5"%>
                   <%= show_simple_captcha :label=>"Enter the Text Displayed Above " %>
                <input type="submit" name="" class="btn btn-info" value="Send Message"/>
                </form>
                       <% end %>
                <div class="sbh span6">
                	<h3 class="breadcrumb">Location by Map</h3>
                	<%= gmaps("markers" => {"data" => @json}, "map_options" => { mapTypeId: 'HYBRID',
                		"waypoints" => ["abuja, nigeria", "asokoro, Nigeria"], "center_longitude" => 180, "zoom" => 3,
                		 "auto_adjust" => true, "display_panel" => true, "panel_id" => "instructions"})        
                	 %>
                </div>
                <div class="nosrednahabo">&nbsp;</div>
            </div>
           </div>
   
<%= render "shared/partners_smedia"%>
</div>
<div class="span3">
  	  <div class="well effect7" style="min-height:260px;">    
		<h3 class="sbhb">Contact Address</h3>
		<p><em></em>Anambra  State House</em><br/>
TY Danjuma Crescent<br/>
Maitaima, Abuja.</p>
      </div>
       
       <div class="breadcrumb effect7" style="min-height:315px; margin-left:-12px;overflow:auto;">
   	   <div class="sbh">Social Media Board</div>	
       <%= render "shared/tweets" %>
       </div>
       
     <!-- <div class="well effect7" style="min-height:350px;"> 
       
       </div>
      -->
    </div>
    
