<div class="span9">
<div class="sbh effect8">
<div class="sbh effect7">
<h2>Disclaimer</h2>
</div>
<ul id="myTab" class="nav nav-tabs">
<li class="active"><a href="#partners" data-toggle="tab"><i class="icon-globe"></i> Statement</a></li>
         
</ul>
<div id="myTabContent" class="tab-content">
<div class="tab-pane fade in active" id="partners">
<div class="sbh fbn">
The information contained in this website is for general information purposes only.
The information does not in any way represent the official viewpoint of the UNDP, the European Union, UKAid and CIDA.
</div>
</div>
</div>
</div>