<div class="span2 impd">
<div class="well effect7" style="min-height:260px; font-size:8pt; font-weight:bold; color:#036; text-align:center;">
- if !@news_pubs.blank?
  -@news_pubs.each do |np|
    = np.name
    = link_to image_tag(np.thumbfile.url(:medium)) ,np.file.url,:target=>"_blank"
- else 
  Media Guide for the 2011 General Elections 
  <img src="images/pub-media-guide.jpg" />
  INEC Guidelines for Election Observation
  <img src="images/pub-giudelines.jpg" />
  <img src="images/pub-election-observers-contact.jpg" />
  <img src="images/pub-inect-manual.gif" width="140"/>

</div>
</div>
<div class="span7">
<div class="box effect8">
<h3 style="margin-bottom:0px;"><!--News Flash--></h3><hr  style="margin-top:5px;">
<div id="myCarousel" class="carousel slide">
<div class="carousel-inner">
<div class="item active">
= image_tag "Cross section of participants at the DGD Media conference on the constitution review process.JPG"
<div class="carousel-caption">
<h4 class="m7">Media conference on the constitution review process</h4>
<p class="lh4">Cross section of participants at the DGD Media conference on the constitution review process</p>
<a href="#" class="btn-info btn"><i class="icon-info-sign icon-white"></i> Read Detail</a>
</div></div>
<div class="item">
= image_tag "Nigerian_parliamentarians_on_study tour_in_Ghana.jpg"
<div class="carousel-caption">
<h4 class="m7">Parliamentarians</h4>
<p class="lh4">Nigerian parliamentarians on study tour in Ghana.</p> <a href="#" class="btn-info btn"><i class="icon-info-sign icon-white"></i> Read Detail</a>
</div>
</div>
- if !@news_flash_images.nil?
  -@news_flash_images.each do |n|
    %div{:class=>"item"}
      = image_tag n.news_image.url(:medium) unless n.news_image.url.nil?
      <div class="carousel-caption">
      <h4 class="m7"> #{n.caption} </h4>
      <a href="
      =news_path n
      "class="btn-info btn"><i class="icon-info-sign icon-white"></i> Read Detail</a>
      </div>
</div>
<!-- Pics sent not suitable, size too small, replace below comments with large size pic-->
<div class="item">
= image_tag "Nigerian_parliamentarians_on_study_tour_in_Ghana.jpg"
<div class="carousel-caption">
<h4 class="m7">Parliamentarians</h4>
<p class="lh4">Nigerian parliamentarians on study tour in Ghana.</p> <a href="#" class="btn-info btn"><i class="icon-info-sign icon-white"></i> Read Detail</a>
</div>
</div>
<!--<div class="item">
<img src="img/bootstrap-mdo-sfmoma-01.jpg" alt="">
<div class="carousel-caption">
<h4 class="m7">Third News label</h4>
<p class="lh4">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>  <a href="#" class="btn-info btn"><i class="icon-info-sign icon-white"></i> Read Detail</a>
</div>
</div>
</div>-->
<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>
<div class="sbh effect7 fbn" style="margin:10px 0px; line-height:1.7em;">
<p><img src="images/acticity-map2n.gif" class="imgfl vtip" title="Areas covered by activities of DGD's 16 Implementing Civil Society Organisations (CSOs). These CSOs have undertaken activities including Sensitization on the National Gender Policy, Capacity Building of Female Candidates, Voter Education and Mobilisation of Electorates, Voter Education on the Amendment of the Constitution and the establishment of six regional Media Centres."/>  <p>The Democratic Governance for Development (DGD) Project is an electoral cycle (April 2010-April 2015)  joint donor funded project managed by the United Nations Development Programme (UNDP) in support of deepening democracy in Nigeria. The project is funded with contributions from the European Commission (EC), the UK Department for International Development (DFiD), The Canadian International Development Agency (CIDA) and United Nations Development Fund (UNDP).</p>
<p>The Objectives of the project are to strengthen the democratic character of Nigerian political processes; and promote outcomes that consolidate and advance democratic governance and accountability to achieve Nigeria's stated development priorities and goals.</p>
<p> As a driving force for strengthening accountable and responsive governance institutions, and consolidating democratic governance in line with international best practices, the project provides technical and financial support to the Independent National Electoral Commission, civil society organizations, and institutions such as the judiciary, the media, national and state parliaments, and political parties. </p>
<a href="
= about_path
" class="btn btn-inverse"><i class="icon-white icon-info-sign"></i> Read More</a>
</div>
= render '/shared/partners_smedia'
<div class="nosrednahabo">&nbsp;</div>
</div>
<div class="span3">
<div class="well effect7" style="min-height:260px;">    
 
<div class="sbhb">DGD Videos </div>
<div data-spy="scroll" data-target="#navbarExample" data-offset="0" class="scrollspy-example">       
= render "shared/videos"
<a href="
=  view_all_video_path 0
"class="btn btn-inverse btn-small">View All Videos</a>
</div>
</div>
<div class="breadcrumb" style="min-height:170px;">
<div class="sbhb">Upcoming Events</div> 
-# raw event_calendar
-#=debug @event_strips
- @event_strips.each do |e|
  =link_to e.title, event_url(e.id)
</div>
<!--<div class="breadcrumb effect7" style="min-height:340px; padding:5px;">
<!--<div class="sbhb">Social Media Board - Twitter</div> -->
<!--<div data-spy="scroll" data-target="#navbarExample" data-offset="0" style="height:280px;" class="scrollspy-example span12 frfff">
- #if @tweeter 
- #%ul{:class=>"list"}
- #@tweeter.each do |t|
- #      %li{:style=>"font-size:12px; clear:both; margin:0;padding:0;"}= "<b>@#{t.user.screen_name} </b>:  #{t.text} ".html_safe
%ul
  - for i in (1..4)
    %li{:class=>'lino'}= "<i class=\"icon-comment\"></i>".html_safe + "@UNDP DGD : Social Media" * 5 + '<hr/>'.html_safe
      
</div>
</div>-->
<!--<div class="well effect7" style="min-height:350px;"> 
</div>--> 

<style type="text/css">
 
iframe {
margin-top: 0px;
margin-bottom: 10px;
margin-left:10px;
width:200px;
\-moz-border-radius: 12px;
\-webkit-border-radius: 12px;
border-radius: 12px;
\-moz-box-shadow: 4px 4px 14px #000;
\-webkit-box-shadow: 4px 4px 14px #000;
box-shadow: 4px 4px 14px #000;

\-moz-transform:rotate(0deg);
\-webkit-transform:rotate(0deg);
\-o-transform:rotate(0deg);
\-ms-transform:rotate(0deg);
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.0);
} 
</style>
