<div class="span12">
<div class="sbh effect8">
<div class="sbhb effect7">
<h2>International Partners</h2>
</div>
<ul id="myTab" class="nav nav-tabs">
<li class="active"><a href="#partners" data-toggle="tab"><i class="icon-globe"></i> International Partners</a></li>
             
</ul>
<div id="myTabContent" class="tab-content">
<div class="tab-pane fade in active" id="partners">
<div class="sbh fbn">
<h3>The  European Commission in Nigeria </h3>
<p>
Contacts: 
%br
21st Crescent,
%br
Off Constitution Avenue, Central Business District,
<br/>
P.O. Box 280, Garki, Abuja.

%br Telephone: + 234 (9) 4617800 + 234 (9) 4617800, 07072206884 -8
Fax: + 234 (9) 4617836.
%br E-mail: Delegation-Nigeria@eeas.europa.eu
%br
Website:
= link_to "www.delnga.ec.europa.eu","http://www.delnga.ec.europa.eu" ,:target=>"_blank"
</p>
</div>
<div class="sbh fbn">
<h3>UK’s Department for International Development</h3>
<p>
Contacts: 
%br
No. 10 Bobo Street,
%br
Off Gana Street,
<br/>
Maitama , Abuja.
%br Telephone: + 234 (0)9 460 2930-59
%br E-mail:
Enquiries : enquiry@dfid.gov.uk 
%br Media enquiries pressoffice@dfid.gov.uk
%br 
Website:
= link_to "http://www.dfid.gov.uk/","http://www.dfid.gov.uk/Where-we-work/Africa-West--Central/Nigeria/" ,:target=>"_blank"
</p>
</div>


<div class="sbh fbn">
<h3>Canadian International Development Agency (CIDA)</h3>
%br
High Commission of Canada | Haut-commissariat du Canada
<p>
Contacts: 
%br
15A rue Bobo Street,  
%br
Maitama, Abuja.
%br Telephone: (234) (9) 461-2900
Fax: (234) (9) 461-2902
%br 
Website:
= link_to "www.acdi-cida.gc.ca","http://www.acdi-cida.gc.ca" ,:target=>"_blank"
</p>
</div>
<div class="sbh fbn">
<h3>United Nations Development Programme (UNDP)</h3>
<p>
Contacts: 
%br
Anambra  State House,  
%br
TY Danjuma Crescent.
%br
Asokoro, Abuja.
%br 
Website:
= link_to "www.ng.undp.org/","http://www.ng.undp.org/" ,:target=>"_blank"
</p>
</div>
</div>
 
 
</div>
</div>
= render "shared/partners_smedia"
