 <div class="span12 smap">
        <div class="sbh effect7 fbn" style="margin-bottom:15px;">
        	<div class="sbhb"><h2>Site Map</h2></div>  
          	<div class="row-fluid">
            	<div class="span4"> 
                	<div class="sbhb">
                    	<div class="sbh">Major Navigation </div>
                        <div class="sbh"> 
                        	<ul class="fnL">
                            	<li class="lh4 lino"><a href="<%= root_path %>"><i class="icon-home"></i> Home</a></li>
                                <li class="lh4 lino"><a href="<%= about_path %>"><i class="icon-globe"></i> About DGD</a></li>                                
                                <li class="lh4 lino"><a href=<%= view_all_event_path 0%>#"><i class="icon-calendar"></i> Events</a></li>
                                <li class="lh4 lino"><a href="#"><i class="icon-asterisk"></i> Activity &amp; Update</a> 
                                		<i class="icon-arrow-right"></i><a href="activity-discussion.php"> Activity Dicussion</a>
                                </li>
                                <li class="lh4 lino"><a href="<%= view_all_news_path 0%>"><i class="icon-comment"></i> DGD News</a></li>
                                <li class="lh4 lino"><a href="<%= view_all_faq_path 0%>"><i class="icon-question-sign"></i> FAQ</a></li>
                                <li class="lh4 lino"><a href="<%= view_all_photo_path 0%>"><i class="icon-picture"></i> Photos</a></li>
                            </ul>   
                        </div>
                    </div>
                </div>
                <div class="span4"> 
                	<div class="sbhb">
                    	<div class="sbh">Sub-Naviagations </div>
                        <div class="sbh"> 
                        <ul class="fnL">                        	
                            <li class="lh4 lino"><a href="#"><i class="icon-share-alt"></i> Feedback</a></li>
                            <li class="lh4 lino"><a href="<%= disclaimer_path %>"><i class="icon-facetime-video"></i> Disclaimer</a></li>
                    
                            <li class="lh4 lino"><a href="<%= view_all_download_path 0%>"><i class="icon-download"></i> Downloads</a></li>
                            <li class="lh4 lino"><a href="<%= contact_path%>"><i class="icon-bell"></i> Contact</a></li>
                            <li class="lh4 lino"><a href="<%= sitemap_path %>"><i class="icon-map-marker"></i> Site Map</a></li>
                            <hr>
                            <li class="lh4 lino"><a href="<%= view_all_video_path 0%>"><i class="icon-facetime-video"></i> Videos</a></li>
                            <li class="lh4 lino"><a href="<%= login_path %>"><i class="icon-map-marker"></i> CMS Login</a></li>
                            
                        </ul>
                        </div>
                    </div>
                </div>
                <!---<div class="span4"> 
                	<div class="sbhb">
                    	<div class="sbh">Useful Links </div>
                        <div class="sbh">
                        <ul>
                        	<li class="lh4 lino"><a href="#"><i class="icon-ok"></i> Add Link here</a></li>
                            <li class="lh4 lino"><a href="#"><i class="icon-ok"></i> Add Link here</a></li>
                            <li class="lh4 lino"><a href="#"><i class="icon-ok"></i> Add Link here</a></li>
                            <li class="lh4 lino"><a href="#"><i class="icon-ok"></i> Add Link here</a></li>
                            <li class="lh4 lino"><a href="#"><i class="icon-ok"></i> Add Link here</a></li>
                            <li class="lh4 lino"><a href="#"><i class="icon-ok"></i> Add Link here</a></li>
                            <li class="lh4 lino"><a href="#"><i class="icon-ok"></i> Add Link here</a></li>
                            <li class="lh4 lino"><a href="#"><i class="icon-ok"></i> Add Link here</a></li>
                            <li class="lh4 lino"><a href="#"><i class="icon-ok"></i> Add Link here</a></li>
                            <li class="lh4 lino"><a href="#"><i class="icon-ok"></i> Add Link here</a></li>
                            <li class="lh4 lino"><a href="#"><i class="icon-ok"></i> Add Link here</a></li>
                            <li class="lh4 lino"><a href="#"><i class="icon-ok"></i> Add Link here</a></li>
                        </ul>
                        </div>
                    </div>
                </div>-->
            </div>
    <div class="nosrednahabo">&nbsp;</div>          
        </div>                