!!! 5
%html
  %head
    %title Democratic Governance for Development (DGD) Project Backend
     <link href="images/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    - if browser.ie?     
      = stylesheet_link_tag 'style2'
    - else
      = stylesheet_link_tag 'style'
    <!-- Le styles -->
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    
    <![endif]-->
    = csrf_meta_tags
  %body{"data-spy" => "scroll", "data-target" => ".subnav" ,"data-offset"=> "50"}
    = render "/shared/topnav"
    .container   
      = render "/shared/headings"
      %div{:class=>"row-fluid"}
        - if flash[:notice]
          %div{:id=>'warning', :class=>'alert alert-info'}
            = flash[:notice]
            <button class="close" data-dismiss="alert"> x </button>
        - elsif flash[:warning]
          %div{:id=>'warning', :class=>'alert alert-errors'}
            = flash[:warning]
            <button class="close" data-dismiss="alert"> x </button> 
            
       - elsif flash[:error]
          %div{:id=>'error', :class=>'alert alert-error'}
            = flash[:error]
            <button class="close" data-dismiss="alert"> x </button> 
        = yield
    = render '/shared/fotts'
    = debug params if Rails.env.development?
    = debug session if Rails.env.development?
    = debug request if Rails.env.development?
    = debug current_user  if(Rails.env.development? && signed_in?) 
    = #javascript_include_tag 'application'
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    = javascript_include_tag "widgets.js"
    = javascript_include_tag "jquery.js" 
    = javascript_include_tag "vtip.js"
    = javascript_include_tag "google-code-prettify/prettify.js" 
    = javascript_include_tag "bootstrap-transition.js" 
    = javascript_include_tag "bootstrap-alert.js"
    = javascript_include_tag "bootstrap-modal.js"
    = javascript_include_tag "bootstrap-dropdown.js"
    = javascript_include_tag "bootstrap-scrollspy.js"
    = javascript_include_tag "bootstrap-tab.js"
    = javascript_include_tag "bootstrap-tooltip.js" 
    = javascript_include_tag "bootstrap-popover.js" 
    = javascript_include_tag "bootstrap-button.js"
    = javascript_include_tag "bootstrap-collapse.js" 
    = javascript_include_tag "bootstrap-carousel.js"
    = javascript_include_tag "bootstrap-typeahead.js"
    = javascript_include_tag "application1.js"
    = javascript_include_tag "rails"
